<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TripMate</title>
        <link rel="stylesheet" href="/css/login.css">
        <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">

    </head>
    <body>
        <!-- Image Placeholder -->
        <div class="image-container">
            <img src="/icons/mascot.png" alt="Login Page Image" width="288">
        </div>

        <!-- Logo -->
        <div class="logo"><img src="/icons/Logo.png" alt="TripMate Logo" width="288"></div>

        <!-- Buttons -->
        <div class="login-signup">
            <a href="/trips">
                <button class="button">Login</button>
            </a>
            <a href="/register">
                <button class="button">Sign Up</button>
            </a>
        </div>
    </body>
</html>