<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TripMate</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ce1662cecb.js" crossorigin="anonymous"></script>
</head>
<body>
<%- include("partials/back-header") %>
<%- include("partials/tabs") %>
<!-- Poll Creation Form -->
<main>
    <div class="poll-form">
        <h3>Create a Poll</h3>

        <input type="text" id="pollQuestion" class="poll-question" placeholder="Enter your question">

        <h4>Options</h4>
        <div id="pollOptionsContainer" class="options-container">
            <input type="text" class="option-input" placeholder="Enter option 1">
            <input type="text" class="option-input" placeholder="Enter option 2">
        </div>

        <!-- Button Group -->
        <div class="button-group">
            <button class="add-option-button" onclick="addOption()">+</button>
            <button class="publish-button" onclick="publishPoll()">Publish Poll</button>
        </div>
    </div>
</main>
<%- include("partials/navbar") %>
<script src="/js/polls.js"></script>
</body>
</html>