<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TripMate</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">

</head>
    <body>
    <%- include("partials/banner") %>
    <section class="profile-section">
        <h4>Profile</h4>
        <div class="profile-card">
            <div class="profile-img"></div>
            <div class="profile-username">
                <p>Alana <br> Me</p>
            </div>
        </div>

        <div class="profile-input-group">
            <label>Name</label>
            <input class="profile-input" type="text" value="Alana" disabled>
            <label>Lastname</label>
            <input class="profile-input" type="text" value="Prnjavorac" disabled>
            <label>Email</label>
            <input class="profile-input" type="email" value="Alana" disabled>
            <label>Passwords</label>
            <input class="profile-input" type="password" value="Alana" disabled>
        </div>
        <button class="edit-profile-btn" onclick="editProfile()">Edit</button>
        <button class="save-profile-btn" id="save-profile-btn" onclick="saveProfile()">Save</button>
    </section>
    <%- include("partials/navbar") %>
    <script src="/js/profile.js"></script>
    </body>
</html>
