<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=390, initial-scale=1.0">
    <title>TripMate Register</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/ce1662cecb.js" crossorigin="anonymous"></script>
</head>
<body>

<!-- Header -->
<%- include("partials/back-header") %>
<!-- Back Button -->


<!-- Logo -->
<div class="logo"><img src="icons/Logo.png" alt="TripMate Logo" width="288"></div>

<form class="register-inputs">
    <p class="email-valid-info">Please enter valid email.</p>
    <div class="input-field">
        <input type="email" id="reg-email" name="email" placeholder="E-mail">
    </div>
    <div class="input-field">
        <input type="password" id="rst-pwd" name="password" placeholder="New Password">
    </div>
    <div class="input-field">
        <input type="password" id="cfm-pwd" name="password" placeholder="Confirm Password">
        <!-- Eye icon for password visibility -->
        <div class="hide-pwd-btn" onclick="hideShowPwd()">
            <i class="fa-solid fa-eye-slash"></i>
        </div>
    </div>
    <!-- Login Button -->
    <button class="cfm-btn button" id="rst-pwd-btn">Reset Password</button>
</form>

<!-- Register Section -->
<div class="tip-section">
    Back to <a href="/login">Login</a>
</div>

<script src="js/login.js"></script>

</body>
</html>
