<!-- banner -->
<div class="header">
    <img src="/icons/Logo.png" id="Logoimg" alt="Logo for TripMate">
    <!--<button class="bell"><img src="../public/icons/bell.png" alt="Notifications"></button>-->
</div>