<ul class="navbar">
    <li class="nav-item">
        <a href="/trips">
            <img src="/icons/home.png" alt="Trips">
            <span>Trips</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="/map">
            <img src="/icons/chat.png" alt="Map">
            <span>Map</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="/profile">
            <img src="/icons/user.png" alt="Profile">
            <span>Profile</span>
        </a>
    </li>
</ul>

<script src="/js/navbar.js"></script>