<div class="tab-buttons">
    <a href="/itinerary">
        <button class="tab-button"><i class="fa-regular fa-calendar"></i></button>
        <span>Itinerary</span>
    </a>
    <a href="/finance">
        <button class="tab-button"><i class="fa-solid fa-chart-simple"></i></button>
        <span>Finance</span>
    </a>
    <a href="/polls">
        <button class="tab-button"><i class="fa-solid fa-list"></i></button>
        <span>Polls</span>
    </a>
</div>