* {
    font-family: "League Spartan", serif;
    --black-text: #000000;
    --white-text: #ffffff;
    --gray-text: #656565;
    --background: #efebee;
    --button: #cdaaee;
    --button-hover: #644c7a;
    --max-width: 390px;
}


/* General Styles */
body {
    background-color: var(--background);
    font-family: 'League Spartan', serif;
    text-align: center;
    width: 330px;
    max-width: 330px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}


.homepage{
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header img{
    width: 30%;
    height: auto;
    margin-left: 35%;
    margin-right: auto;
}

.bell {
    background: none;
    border: none;
}

.bell img {
    width: 24px;
}

/* Dashboard */
.dashboard {
    text-align: left;
    position: relative; /* Needed for absolute positioning inside */
    width: 100%;
}

.dashboard h2 {
    font-size: 40px;
    font-weight: bold;
}

.dashboard h3 {
    font-size: 25px;
    font-weight: bold;
}

.dashboard p {
    width: 300px;
    margin: 0;
    font-family: "League Spartan", serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
}

.add-trip {
    background-color: var(--button);
    color: white;
    border: none;
    font-size: 24px;
    width: 30px; /* Increased for better visibility */
    height: 30px; /* Same as width to ensure it's a perfect circle */
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 20px; /* Position it on the right */
    top: 70px; /* Position it at the top */
    cursor: pointer;
    text-align: center;
    line-height: 50px; /* Centers the '+' inside the button vertically */
    font-weight: bold; /* Ensures the '+' is more prominent */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.add-trip:hover {
    background-color: var(--button-hover);
}

/* Illustration */
.illustration {
    padding: 5px;
    margin-bottom: 2vh;
}

.illustration img {
    width: 100%;
    height: auto;
}

/* Plan Trip Button */
.plan-trip {
    background-color: var(--button);
    color: white;
    font-weight: 700;
    font-size: 22px;
    padding: 16px 60px; 
    border: none;
    border-radius: 10px; 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
    margin-left: 20px;
}

.plan-trip:hover {
    background-color: var(--button-hover);
}

/* Navbar */
.navbar {
    position: fixed;
    flex-shrink: 0;
    bottom: 20px; /* Moves the navbar 20px from the bottom */
    width: 100%;
    max-width: 330px;
    background: white;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    border-radius: 20px;
    z-index: 1010;
    fill: var(--white-text);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    list-style-type: none;
}

.nav-item {
    width: 50px;
    height: 45px;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    left: -2px;
    bottom: -4px;
    padding: 5px;
    margin: 5px;
}

.nav-item a{
    text-decoration: none;
    color: var(--gray-text);
}

.active a{
    color: var(--black-text);
}

.nav-item:hover {
    color: var(--button-hover); /* Darker text color */
}

.nav-item img {
    margin-top: 5px;
    width: 24px;
}

.nav-item span {
    padding-top: 2px;
    font-size: 12px;
}

.active {
    border-radius: 15px;
    background: var(--white-text);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* Add trip */

.menu {
    display: none;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(229, 229, 229);
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    font-family: 'Arial', sans-serif;
    width: 330px;
    max-width: 330px;
    height: 500px; /* Set a fixed height */

    overflow-y: auto; /* Allow scrolling if content exceeds height */
}

.menu h3{
    text-align: left;
}

.menu button {
    margin-top: 20px;
}

/* Input field */
#trip-name {
    background-color: var(--button);
    color: white;
    font-weight: bold;
    padding: 10px 15px; 
    border: none;
    border-radius: 10px; 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease;
    outline: none; /* Remove default focus outline */
    text-align: left; /* Center text */
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width:90%;
}

#trip-name::placeholder {
    color: rgba(255, 255, 255, 0.7); /* Lighten placeholder text */
}

#trip-name:focus {
    background-color: var(--button-hover); /* Darker shade when focused */
}


/* Dropdown button style */
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 50%; /* Position the dropdown content at the center */
    transform: translateX(-50%); /* Adjust to truly center */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropbtn{
    background-color: var(--button);
    color: white;
    font-weight: bold;
    padding: 8px 60px; 
    border: none;
    border-radius: 10px; 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropbtn.active {
    background-color: var(--button-hover);
}   

/* Style for the selected participants list */
.participants-list {
    margin: 10px;
    min-height: 100px;
    max-height: 100px; /* Set a maximum height for the container */
    overflow-y: auto;  /* Enable vertical scrolling */
    border: 2px dashed #D7B7F4; /* Add a dashed border */
    border-radius: 10px; /* Rounded corners */
}

.participants-list ul {
    list-style-type: none;
    padding: 0;
}

.participants-list li {
    background-color: var(--button);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Circular X button */
.remove-btn {
    background-color: rgb(252, 170, 170);
    color: white;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;  /* Makes the button circular */
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

.remove-btn:hover {
    background-color: darkred;
}

/* Photo */
.Photo{
    margin-top: 30px;
    margin-bottom: 50px;
}

.closebtn{
    background-color: #D7B7F4; 
    color: white;
    font-weight: bold;
    padding: 16px 130px; 
    border: none;
    border-radius: 10px; 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    transition: all 0.3s ease;
    
}

/* Photo */

.Photo {
    display: flex;
    align-items: center;  /* Aligns text and button in the same row */
    justify-content: space-between; /* Spaces them out */
    width: 100%;
    margin-bottom: 0;
}

.photo-upload {
    display: flex;
    align-items: center; /* Ensures vertical alignment */
}

.add-photo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D7B7F4;
    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 30px; /* Adjust size */
    height: 30px;
    border-radius: 50%; /* Makes it circular */
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-align: center;
}

.add-photo-btn:hover {
    background-color: #644c7a;
}

#photo-preview {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#photo-preview img {
    margin: 0;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Added Trips */
.show-box{
    display: none;
    height: 400px; /* Set a fixed height */
    overflow-y: auto; /* Allow scrolling if content exceeds height */
    max-height: 400px;
}

/* New Trip Box Style */
.trip-box {
    background-color: #D7B7F4;
    color: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.trip-box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.trip-box h4 {
    font-size: 18px;
    font-weight: bold;
}

/* Profile Edit Button */
.edit-profile-btn {
    width: 58px;
    height: 27px;
    border: none;
    border-radius: 20px;
    background: var(--button);
    color: var(--white-text);
    transition: 0.3s ease-in-out;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    right: 20px; /* Position it on the right */
    top: 70px; /* Position it at the top */
    cursor: pointer;
}

.edit-profile-btn:hover {
    background-color: var(--button-hover);
}

.profile-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    width: 100%;
}

.profile-section h4 {
    font-size: 22px;
    font-weight: bold;
}

.profile-section p {
    font-size: 15px;
    font-weight: bold;
}

.profile-card {
    width: 35%;
    display: flex;
    background: var(--white-text);
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid var(--black-text);
    border-radius: 20px;
    padding: 10px;
}

.profile-username p{
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center; /*主轴居中*/
    margin: 10px 10px 0 10px ;
}

.profile-username {
    margin-left: 28px;
}

.profile-img {
    margin-left: 22px;
    width: 70px;
    height: 70px;
    background-color: var(--white-text);
    border-radius: 50%;
    border: 1px solid var(--black-text);
}


.profile-input-group {
    margin: 20px 0;
    text-align: left;
    font-weight: 600;
    font-size: 15px;
}
label {
    display: block;
    margin: 10px;
}
.profile-input-group input {
    width: 280px;
    height: 21px;
    font-weight: bold;
    background: var(--white-text);
    padding: 0 10px;
    border-radius: 20px;
    border: none;
}

/* Friends section in profile */

.friend-section {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.friend-section h4 {
    font-size: 22px;
    font-weight: bold;
    margin: 8px 0;
}
